// bower:scss
// endbower

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #c5cfd8;
	font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7-webfont.eot');
    src: url('../fonts/digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff'),
         url('../fonts/digital-7-webfont.ttf') format('truetype'),
         url('../fonts/digital-7-webfont.svg#digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$dark-gray: #0f1620;
$medium-gray: #272e38;
$light-gray: #cacaca;

/*------------------------------------*\
  #FUNCTIONS
\*------------------------------------*/

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

/*------------------------------------*\
  #MIXINS
\*------------------------------------*/

@mixin clock-text() {
	color: $medium-gray;
	font-size: rem(10px);
	text-transform: uppercase;

	&.active {
		color: $light-gray;
		font-weight: 500;
	}
}

/*------------------------------------*\
  #WRAPPER
\*------------------------------------*/

.page-wrapper {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/*------------------------------------*\
  #CLOCK CONTAINERS
\*------------------------------------*/

.clock {
	max-width: rem(406px);
	width: 100%;
	padding: rem(46px);
	background-color: $medium-gray;
	box-shadow: 0px 21px 25px -10px rgba(0,0,0,0.4);
}

	.clock__display {
		position: relative;
		padding: rem(7px) rem(15px) rem(8px);
		border-radius: 4px;
		background-color: $dark-gray;;
		box-shadow: inset 0px 2px 0px 0px rgba(11,17,26,0.7), 0px 2px 0px 0px rgba(45,54,66,0.7);
	}

	.clock__row {
		display: flex;
		justify-content: space-between;
	}

/*------------------------------------*\
  #CLOCK DAYS
\*------------------------------------*/

.clock__day {
	@include clock-text;
}

/*------------------------------------*\
  #TIME
\*------------------------------------*/

// SHARED STYLES
.time__el {
	align-self: flex-end;
}

// ALARM BUTTON
.time__alarm-btn {
	padding: 0;
	background-color: transparent;
	border: none;
	color: $medium-gray;
	appearance: none;
	cursor: pointer;
	transition: all .1s ease-in-out;

	&.time__alarm-btn--active,
	&:hover {
		color: $light-gray;
	}
}

	.alarm__icon {
		display: inline-block;
		width: rem(16px);
		height: rem(16px);
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}

// DIGITS
.time__digits {
	margin-bottom: rem(-5px);
	color: $light-gray;
	font-family: 'digital-7';
	font-size: rem(65px);
	font-weight: normal;
	letter-spacing: rem(2px);
}

	.digits__col,
	.digits__num {
		display: inline-block;
	}

	.digits__col {
		position: relative;
		padding: 0 rem(3px);

		&:before,
		&:after {
			content: ".";
			display: block;
			position: relative;
			line-height: 0;
		}

		&:before {
			top: rem(-34px);
		}

		&:after {
			bottom: 0;
		}
	}

// TIME PERIODS
.time__period {
	display: block;
	@include clock-text;
}

/*------------------------------------*\
  #CLOCK ALARM FORM
\*------------------------------------*/

.clock__alarm {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	padding: rem(7px) rem(15px);
	background-color: inherit;
	border-radius: inherit;
	color: $light-gray;
}

.clock__alarm--active {
	display: block;
}

	.alarm__input {
		width: 100%;
		max-width: rem(42px);
		padding: rem(6px);
		border: none;
		border-radius: 4px;
		background-color: $medium-gray;
		box-shadow: inset 0px 1px 0px 0px rgba($dark-gray, .2), 0px 1px 0px 0px rgba($light-gray, .2);
		color: inherit;
		font-family: inherit;
		font-size: rem(14px);
		font-weight: 500;
		appearance: none;

		&::placeholder {
			color: rgba($light-gray, .5);
		}
	}

	.alarm__col {
		padding: 0 rem(4px);
	}

	.alarm__action {
		font-family: inherit;
	}

/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}