// bower:scss
// endbower

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #c5cfd8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7-webfont.eot');
    src: url('../fonts/digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff'),
         url('../fonts/digital-7-webfont.ttf') format('truetype'),
         url('../fonts/digital-7-webfont.svg#digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$medium-gray: #272e38;
$light-gray: #cacaca;

/*------------------------------------*\
  #FUNCTIONS
\*------------------------------------*/

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

/*------------------------------------*\
  #MIXINS
\*------------------------------------*/

@mixin clock-text() {
	color: $medium-gray;
	font-size: rem(10px);
	font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;

	&.active {
		color: $light-gray;
		font-weight: 500;
	}
}

/*------------------------------------*\
  #WRAPPER
\*------------------------------------*/

.page-wrapper {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/*------------------------------------*\
  #CLOCK CONTAINERS
\*------------------------------------*/

.clock {
	max-width: rem(406px);
	width: 100%;
	padding: rem(50px);
	background-color: $medium-gray;
}

	.clock__display {
		padding: rem(10px) rem(15px);
		border-radius: 4px;
		background-color: #0f1620;
	}

/*------------------------------------*\
  #CLOCK DAYS
\*------------------------------------*/

.clock__days {
	display: flex;
	justify-content: space-between;
}

	.clock__day {
		@include clock-text;
	}

/*------------------------------------*\
  #TIME
\*------------------------------------*/

.time__el {
	display: inline-block;
}

.time__alarm {
	padding: 0;
	background-color: transparent;
	border: none;
	color: $medium-gray;
	appearance: none;
	cursor: pointer;
	transition: all .1s ease-in-out;

	&.time__alarm--active,
	&:hover {
		color: $light-gray;
	}
}

	.alarm__icon {
		display: inline-block;
		width: rem(16px);
		height: rem(16px);
		stroke-width: 0;
		stroke: currentColor;
		fill: currentColor;
	}

.time__digits {
	color: $light-gray;
	font-family: 'digital-7';
	font-size: rem(75px);
	font-weight: normal;
	letter-spacing: rem(2px);
}

.time__periods {
}

	.time__period {
		display: block;
		@include clock-text;
	}


/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}